@font-face {
  font-family: 'DM sans';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: bold;
  src:
    url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'DIN Alternate';
  font-weight: 700;
  font-style: bold;
  src:
    url('../fonts/DINAlternate-Bold.woff2') format('woff2'),
    url('../fonts/DINAlternate-Bold.woff') format('woff');
  font-display: swap;
}