body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  @extend %sans-400;
  overflow-x: hidden;
}


.title {
  @extend %alternate;
  font-size: 58px;
  line-height: 1.4;
  -webkit-text-stroke: 3px $black;

  &--lines {
    display: flex;
    justify-content: center;
    align-items: center;

    // gap:35px;
    &::before,
    &::after {
      content: '';
      display: block;
      top: 50%;
      max-width: 56px;
      width: 100%;

      height: 3px;
      background-color: $black;
    }

    &::after {
      transform: translateX(40px);
    }

    &::before {
      transform: translateX(-40px);
    }
  }
}



section {
  margin: 0;
  height: fit-content;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: $white;
  padding: 20px 45px;
  background-color: $orange;
  width: fit-content;
  @extend %sans-700;
  border-radius: 12px;
}

.arrow-link {
  width: 64px;
  height: 64px;
  background-color: $orange;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    @extend %content;
    background-image: url('../images/icons/icon-ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    filter: invert(52%) sepia(76%) saturate(778%) hue-rotate(325deg) brightness(102%) contrast(108%);
    width: 81px;
    height: 80px;
  }
}