$white:#fff;
$orange:#ff7352;
$green:#27ad55;
$black:#121212;
$silver:#f6f6f6;

%dmsans-400 {
  font-family: 'DM sans';
  font-weight: 400;
  font-style: normal;
}

%dmsans-700 {
  font-family: 'DM sans';
  font-weight: 700;
  font-style: bold;
}

%dinalt-700 {
  font-family: 'DIN Alternate';
  font-weight: 700;
  font-style: bold;
}