$white:#fff;
$orange:#ff7352;
$green:#27ad55;
$black:#121212;
$silver:#f6f6f6;

%sans-400 {
  font-family: 'DMsans',sans-serif;
  font-weight: 400;
}

%sans-700 {
  font-family: 'DMsans' ,sans-serif;
  font-weight: 700;
}

%alternate{
  font-family: 'DINAlternate' ,sans-serif;
  font-weight: 700;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

$breakpoints: ("phone": 576px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1200px);