<footer class="footer">
  <div class="container footer__container">
    <a class="footer__logo logo" href="#header">
      <img class="logo__img" src="images/eluwe.svg" height="48" width="92" loading="lazy" alt="logo">
    </a>

    <div class="footer__text">Maecenas amet pretium facilisi quis facilisis eget. Viverra tristique massa magna dictum
      enim.</div>

    <ul class="footer-menu">
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">Home</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">About Us</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">Booking</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">Get Apps</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">Contact</a>
      </li>
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="#">FAQs</a>
      </li>
    </ul>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer">
          <svg class="social__icon social__icon--facebook">
            <use xlink:href="images/sprite.svg#icon-facebook"></use>
          </svg>
          <span class="sr-only">go to our facebook</span>
        </a>
      </li>

      <li class="social__item">
        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer">
          <svg class="social__icon social__icon--twitter">
            <use xlink:href="images/sprite.svg#icon-twitter"></use>
          </svg>
          <span class="sr-only">go to our twitter</span>
        </a>
      </li>

      <li class="social__item">
        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer">
          <svg class="social__icon social__icon--instagram">
            <use xlink:href="images/sprite.svg#icon-instagram"></use>
          </svg>
          <span class="sr-only">go to our instagram</span>
        </a>
      </li>
    </ul>
  </div>
</footer>